@inject SignInManager<Tangy.Models.AccountModels.AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<a class="form-control btn btn-outline-primary @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
<br />
<br />
<a class="form-control btn btn-outline-primary @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
@if (hasExternalLogins)
{
    <a class="form-control btn btn-outline-primary @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">External logins</a>
}
<br />
<br />
<a class="form-control btn btn-outline-primary @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
<br />
<br />
<a class="form-control btn btn-outline-primary @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Personal data</a>
